
	<div class="home">
		<div class="home_slider_container">

			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(http://7oroof.com/demos/medcity/assets/images/sliders/1.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">The one and only Plateform</div>
									<div class="home_slider_subtitle">Your Health Care is
                                        Our Ambition</div>
									<div class="home_slider_form_container">
										<ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                                            <!-- feature item #1 -->
                                            <li class="feature-item">
                                              <div class="feature__icon">
                                                <i class="icon-heart"></i>
                                              </div>
                                              <h2 class="feature__title">Examination</h2>
                                            </li><!-- /.feature-item-->
                                            <!-- feature item #2 -->
                                            <li class="feature-item">
                                              <div class="feature__icon">
                                                <i class="icon-medicine"></i>
                                              </div>
                                              <h2 class="feature__title">Prescription </h2>
                                            </li><!-- /.feature-item-->
                                            <!-- feature item #3 -->
                                            <li class="feature-item">
                                              <div class="feature__icon">
                                                <i class="icon-heart2"></i>
                                              </div> 
                                              <h2 class="feature__title">Cardiogram</h2>
                                            </li><!-- /.feature-item-->
                                            <!-- feature item #4 -->
                                            <li class="feature-item">
                                              <div class="feature__icon">
                                                <i class="icon-blood-test"></i>
                                              </div>
                                              <h2 class="feature__title">Blood Pressure</h2>
                                            </li><!-- /.feature-item-->
                                          </ul><!-- /.features-list -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(http://7oroof.com/demos/medcity/assets/images/sliders/2.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">TuniHealth</div>
									<div class="home_slider_subtitle">Your Health Care is
                                        Our Responsibility</div>
									<div class="home_slider_form_container">
										<form action="#" id="home_search_form_2" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
												<select class="dropdown_item_select home_search_input">
													<option>Category </option>
													<option>Category</option>
													<option>Category</option>
												</select>
												<select class="dropdown_item_select home_search_input">
													<option>Select Price Type</option>
													<option>Price Type</option>
													<option>Price Type</option>
												</select>
											</div>
											<button type="submit" class="home_search_button">search</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(https://premiumlayers.com/html/medico/images/demo/slider/2.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">The Premium Health Care</div>
									<div class="home_slider_subtitle">Your Health Care is
                                        Our purpose</div>
									<div class="home_slider_form_container">
										<form action="#" id="home_search_form_3" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
												<select class="dropdown_item_select home_search_input">
													<option>Category </option>
													<option>Category</option>
													<option>Category</option>
												</select>
												<select class="dropdown_item_select home_search_input">
													<option>Select Price Type</option>
													<option>Price Type</option>
													<option>Price Type</option>
												</select>
											</div>
											<button type="submit" class="home_search_button">search</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
	</div>
