
	<header class="header">

		<!-- Top Bar -->
		<div class="top_bar">
			<div class="top_bar_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
								<ul class="top_bar_contact_list">
									<li><div class="question">Have any questions?</div></li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>001-1234-88888</div>
									</li>
									<li>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<div>tunihealth@gmail.com</div>
									</li>
								</ul>
								<div class="top_bar_login ml-auto">

								<button type="button" class="btn btn-success" routerLink="/sign-up">sign up as Doctor</button>
								<button type="button" class="btn btn-success" routerLink="/sign-up-patient">sign up as Patient</button>
</div>
								<!-- <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >Logout</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								
								<a routerLink=" 	">
									<img src ="../../../assets/images/tunihealth.png">
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="about.html">About</a></li>
									<li><a href="courses.html">Our services</a></li>
									<li><a href="#">doctors</a></li>
                                    <div class="button" id="button-2">
                                        <div id="slide"></div>
                                        <a routerLink="/login">Login</a>
                                      </div>
								</ul>
								
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

	
	</header>
