<div id='patient-wrapper' class="planner-patient-wrapper">
    <header>
        <div class="module-title">
            <div class='title'>Appointments list </div>
            <div class='underline'></div>
        </div>
        <div class='add-patient' (click)="onAddPatient()">
            <div class="e-icon-add e-icons"></div>
            <div class="add-patient-label">Add New</div>
        </div>
    </header>
    <div class="patients-detail-wrapper">
        
        <div class="patient-display">
            <ejs-grid #gridObj [dataSource]='consultation' [editSettings]='editSettings'
                (actionComplete)='onDataEdit($event)'>
                <e-columns *ngFor="let m of consultation" >
                    <e-column field='id' width='50' headerText='ID' textAlign='Left'></e-column>
                    <e-column field='date' width='100' textAlign='Left'></e-column>
                    <e-column field='h' width='80' textAlign='Left'></e-column>
                    <e-column field='t_debut' width='80' textAlign='Left'></e-column>
                    <e-column field='t_fin' width='80' textAlign='Left'></e-column>

                    <!--e-column field='medecin' headerText='medecin' width='100' textAlign='Left'></e-column>
                    <e-column field='Description' width='150' textAlign='Left' clipMode='EllipsisWithTooltip'></e-column-->
                   
                </e-columns>
         
            </ejs-grid>
        </div>
    </div>
</div>