<div class="main">
    <header class="header">
      <ul class="menu" #menu>
        <li class="menu__item">
          <a class="menu__link"></a>
        </li>
        <li class="menu__item">
          <a class="menu__link"></a>
        </li>
      </ul>
      <ul class="menu menu-right" #menuSecond>
        <li class="menu__item">
          <a class="menu__link"></a>
        </li>
        <li class="menu__item">
          <a class="menu__link"></a>
        </li>
      </ul>
    </header>
    <section class="first-section" >
      <div class="info">
        <h1 class="heading-1">
          We provide quality care that treats everyone.
        </h1>
        <p class="paragraph">
            We provide primary care when you need it, get personalized and high quality healthcare by talking to top medical doctors.
        </p>
      </div>
      <div class="visuals">
        <div class="image-container">
          <img
            #imageFirst
            src="../../../assets/images/mains.webp"
            alt=""
          />
        </div>
        <div class="image-container">
          <img
            #imageSecond
            src="../../../assets/images/vaccin.webp"
            alt=""
          />
        </div>
      </div>
    </section>
    <section class="second-section" #secondSection>
      <div class="box"></div>
      <h4 class="heading-4" id="about">About Us</h4>
      <h1 class="heading-1" id="buy">Buying a home doesn't have to be a mystery.</h1>
      <div class="info-1">
        <div class="info-1__text">
          <span class="quote">
            "
          </span>
          <h2 class="heading-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          </h2>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
            tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
            veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
            quisquam!
          </p>
          <a class="btn--learn">Learn More</a>
        </div>
        <div class="info-1__visual">
          <img src="../../../assets/images/phonedoc.webp">
        </div>
      </div>
  
    </section>
  </div>
  